main#chat {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}
main > #top {
	position: relative;
	margin: 0.3rem 0.5rem 0.5rem 0.5rem;
	border-bottom: 1px solid black;
	text-align: center;
}
#top h1 {font-size: 2rem;}
#top img {
	max-width: 30px;
	position: absolute;
	left: 0;
	text-shadow: 2px 2px red;
}
main > #mid {
	justify-self: end;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0 0.5rem;
	overflow-y: scroll;
}
main > #mid pre {
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}
main > #bot {
	position: relative;
	margin: 0.5rem 0.5rem 0.3rem 0.5rem;
}
main > #bot img {
	position: absolute;
	bottom: 0;
	z-index: 1;
	max-height: 40px;
}
main > #bot > form {text-align: center;}
